body{
    background-color: rgb(167, 159, 159);
    font-size: 21px;
}
 header h1{
    text-align: center;
}
p{
    
    border: 10px solid rgb(235, 213, 213);
    border-radius: 100px;
    margin: 10px;
    padding: 22px;
}
h1{
    text-align: center;
}
header img{
    width:300px;
    height: 100px;
}
main img{
     width:750px;
    height:300px;
}
p{
   
    border: 10px solid rgb(0, 0, 0));
    border-radius: 90px;
    margin: 10px;
    padding: 25px;
}
.rqw{
    
    border: 10px solid rgb(158, 149, 149);
    border-radius: 100px;
    margin: 10px;
    padding: 22px; 
}
main{
    background-color: #c1b3b2;
    margin: 0 auto;
    max-width: 1000px;
}
footer p{ 
    border:10px solid rgb(151, 157, 157);
    background-color: rgb(135, 147, 147);
    color: #c1b3b2;
    margin: 10px;
}
nav a{
    text-decoration:none;
}
